.event-dashboard {
    height: 100vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: 57px 288px repeat(13, 1fr);
    grid-template-rows: 60px auto;
    grid-template-areas:
    "n n n n n n n n n n n n n n n"
    "cs es b b b b b b b b b b b b b";
}

.navbar-k {
    background-color: blue;
    grid-area: n;
}

.creator-sidenav {
    grid-area: cs;
}

.event-sidenav {
    grid-area: es;
}

.body-container {
    background-color: aliceblue;
    grid-area: b;
    display: flex;
    justify-content: center;
}

.content-container {
    background-color: white;
    width: 960px;
    height: 100%;
}

@media screen and (max-width: 960px) {
    .event-dashboard {
        grid-template-areas:
        "n n n n n n n n n n n n n n n"
        "cs b b b b b b b b b b b b b b";
    }

    .event-sidenav {
        display: none;
    }
}

@media screen and (max-width: 790px) {
    .event-dashboard {
        grid-template-areas:
        "n n n n n n n n n n n n n n n"
        "b b b b b b b b b b b b b b b";
    }

    .creator-sidenav {
        display: none;
    }
}