.action-list {
    padding-left: 12px;
    margin: 12px 0;
}

.action-list-header {
    height: 24px;
    width: 100%;
    margin-bottom: 16px;
}

.action-list-header h4 {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.tasks-item {
    display: flex;
    padding: 10px 0;
}

.tasks-item-icon {
    width: 16px;
    margin-right: 12px;
}

.tasks-item-content {
    font-size: 0.875rem;
    font-weight: 400;
}

.tasks-item-action {
    font-weight: 500;
    color: #304FC9;
}

.tasks-item-action:hover {
    cursor: pointer;
    /* underline it */
    text-decoration: underline;
}