@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;800&display=swap');


input:focus {
  border-color: #8b8b8b;
  ;
}

.login-page {
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Heebo', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.login-page-image .login-image {
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 35px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.form .form--error-message {
  padding: 5px;
}


.form.login {
  background-color: white;
  max-width: 360px;
  width: 100%;
  border-radius: 6px;
}

.error-message {
  color: #c5162e;
  font-size: .55rem;
  line-height: .5rem;
}

header {
  font-size: 45px;
  font-weight: 800;
  text-align: left;
}

.hebtus-logo {
  text-align: left;
  color: rgb(209, 65, 12);
  font-size: 30px;
}

form {
  margin-top: 30px;

}

.form .field {
  height: 45px;
  width: 100%;
  margin-top: 5px;
  border-radius: 3px;
}

.field input,
.field .form--button-login {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.field .eye-holder {
  display: inline-block;
}

.field .form--button-login {
  background-color: rgb(209, 65, 12);
  color: white;
}

.field .form--button-login:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.field .form--button-login:active {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.field input {
  border: 1px solid#cacaca;
  text-indent: 10px;
}


.form--password {
  position: relative;
}


.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  color: #8b8b8b;
}


.form-link {
  text-align: center;
  margin: none;
  padding: 0;
  margin-top: 0;

}

.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
}

.form a {
  text-decoration: none;
  color: #0171d3;
}

.form-link a:hover {
  text-decoration: underline;
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: rgb(174, 171, 171);
  margin-bottom: 36px;
  margin-top: 24px;

}

.line::before {
  content: 'Or';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0 15px;

}

.form--media-options a {
  display: flex;
  align-items: center;
  justify-content: center;

}

a.facebook {
  background-color: #4267b2;
  color: white;

}

a.facebook:hover {
  color: white;
}

a.facebook .facebook-icon {
  padding: 5px;
}

img.google-img {
  height: 20px;
  width: 20px;
  object-fit: cover;
  margin-right: 5px;
}

a.google {
  border: 1px solid #cacaca
}

a.google span {
  font-weight: 500;
  opacity: 0.6;
  color: #232836;

}