.event-dashboard {
    height: 100vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: 288px repeat(13, 1fr);
    grid-template-rows: 60px auto;
    grid-template-areas:
    "n n n n n n n n n n n n n n"
    "es b b b b b b b b b b b b b";
}

.navbar-k {
    background-color: #ffffff;
    grid-area: n;
}

.es {
    grid-area: es;
}

.body-container {
    background-color: rgb(255, 255, 255);
    grid-area: b;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

.content-container {
    background-color: white;
    width: 960px;
    height: 100%;
}

.insights-container {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    overflow: scroll;
    grid-template-areas: 
    "h h h"
    "c c t"
    "s s t";
}

.divider {
    height: 1px;
    width: 100%;
    margin: 16px 0;
}

.stats-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    margin: 24px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    overflow: visible;
    grid-template-areas: 
    "sc sc oac"
    "oc oc oac"
}

.header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 100px;
    padding-left: 12px;
    grid-area: h;
    display: flex;
    align-items: center;
}

.cards-container {
    background-color: rgb(255, 255, 255);
    min-height: 200px;
    grid-area: c;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
}

.todo-list-container {
    grid-area: t;
}

.share {
    grid-area: s;
}

.title {
    font-size: 48px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}

.ds-sales-container {
    grid-area: sc;
}

.ds-orders-container {
    grid-area: oc;
}

.ds-other-actions-container {
    grid-area: oac;
}



@media screen and (max-width: 960px) {
    .event-dashboard {
        grid-template-areas:
        "n n n n n n n n n n n n n n"
        "b b b b b b b b b b b b b b";
    }

    .es {
        display: none;
    }
}

@media screen and (max-width: 790px) {
    .event-dashboard {
        grid-template-areas:
        "n n n n n n n n n n n n n n"
        "b b b b b b b b b b b b b b";
    }
}

@media screen and (max-width: 600px) {
    .insights-container {
        grid-template-areas: 
        "h h h"
        "c c c"
        "t t t"
        "s s s";
    }

    .stats-container {
        grid-template-areas: 
        "sc sc sc"
        "oc oc oc"
        "oac oac oac";
    }
}