
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;800&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}


body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(57, 54, 79, 0.95);
}

.modal-content {
  display: flex;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 1100px;
  min-width: 300px;
  
}