.conatiner{
    display: flex;
    flex-direction: row;
 
}
.event-details{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 1%;
    padding-top: 2%;
    height: 720px;
    width: 60vw;
    overflow-y: scroll;
}

.event-details::-webkit-scrollbar {
    scrollbar-width: none;

}

