.conatiner{
    display: flex;
    flex-direction: row;
}
.event-details{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-top: 2%;
    height: 720px;
    width: 60vw;
    scrollbar-width: none;
    overflow-y: scroll;

}