.info-status{
    display: flex;
    flex-direction: row;
}
.info-status-sign{
    width : 0.4rem;
    height : 0.4rem;
    border-radius: 100%;
    background-color:green;
    margin-right: .75rem;
    margin-top: 0.5rem;
}