
/* * {
    box-sizing: border-box;
} */


nav {
    padding: 0px 20px;
    display: flex;
    /* background-color: blue; */
    height: 70px;
    align-items: center;
}

.hebtus-logo-text {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #F05537;
    margin-right: auto;
    margin-left: 20px;
    
}


.nav-bar--button{
    height: 90px;
    width:135px;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    text-align: center;
    flex-direction: column;
    font-weight: 400;
    font-size: 13px;
    
}


.nav-bar--button:hover{
    background-color: #ece9f1;
    transition: 0.3s;
}


.nav-bar--user:hover{
    background-color: #ece9f1;
    transition: 0.3s;
}


.nav-bar--button--icon{
    font-size: 25px;
}

.nav-bar--user{
    height: 70px;
    width:300px;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    /* text-align: center; */
    /* flex-direction: row; */
    font-weight: 400;
    font-size: 13px;
}

.nav-bar--username{
    margin-left: 10px;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }



.nav-bar--user{
    position:relative;
    
}


.drop-down-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    width: 100%;
    min-width: 10rem;
  }

.nav-bar--user:hover .drop-down-menu {
    display: block;
  }