.event-publish-card {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 200px;
  margin: 0 auto;
  background-color: #f8f7fa;
}
.event-publish-card:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  }

.event-publish-card__image {
  width: 40%;
  height: 100%;
}

.event-publish-card__details {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 65px 30px;
}
.event-publish-card__title{
    font-size: 20px;
}
.event-publish-card__time{
    font-size: 12px;

}

.event-publish-card__location
{
    font-size: 12px;

}