.subheader-title {

  padding-bottom: 0.0rem;
  font-size: 1.1rem;
  margin-bottom: 1px;
  margin-top: 12px;
}

.subheader-description {
  font-size: 0.85rem;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0.25rem;

  width: 80%;
}
