.button {
    border: none !important;
    width: 40%;
}

.button:hover {
    transition: all .4s cubic-bezier(.4, 0, .3, 1) !important;
}

.btn-primary {
    background-color: #f05537 !important;
}

.btn-primary:hover {
    background-color: #f3816a !important;
}

.btn-secondary {
    background-color: #fff !important;
    color: black !important;
    border: 2px solid #b6b5b5 !important;
}

.btn-secondary:hover {
    border-color: #747272 !important;
}

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

form {
    height: 100%;
    margin: 0;
}

.form-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}